@using MetaFrm.Control
@inherits BaseLayoutComponent

<PageTitle>@Factory.ProjectService.ServiceName - @this.MainLayoutViewModel.Title</PageTitle>

@*@if (this.MainLayoutViewModel.TestBool)
{
	<link rel="stylesheet" href="_content/MetaFrm.Management.Razor.Browser/css/bootstrap/cerulean/bootstrap.css" />
}*@

<CascadingValue Value="this">
    <DynamicComponent Type="@this.MainLayoutViewModel.NavMenuType" @ref="this.MainLayoutViewModel.NavMenu" />

    <div class="page">
        <main>
            <article class="content px-2 mb-5">
                <DynamicComponent Type="@this.MainLayoutViewModel.CurrentPageType" Parameters="this.MainLayoutViewModel.CurrentPagePara" @ref="this.MainLayoutViewModel.CurrentPage" />
                @*@Body*@
            </article>
        </main>
    </div>
</CascadingValue>

<DynamicComponent Type="this.MainLayoutViewModel.ToastType" Parameters="this.MainLayoutViewModel.ToastPara" />
<DynamicComponent Type="this.MainLayoutViewModel.ModalType" Parameters="this.MainLayoutViewModel.ModalPara" />